sudo: required
dist: trusty

notifications:
  email:
    recipients:
      - kiyoshi.mizumaru@gmail.com

services:
  - docker

env:
  global:
    DOCKER_COMPOSE_VERSION: 1.21.2
  matrix:
    - TARGET_DISTRIBUTION=centos6
    - TARGET_DISTRIBUTION=centos7

before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - sudo rm /usr/local/bin/docker-compose
  - sudo curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
  - chmod +x /usr/local/bin/docker-compose

before_script:
  - docker-compose build ${TARGET_DISTRIBUTION}
  - docker-compose ps
  - docker-compose up -d ${TARGET_DISTRIBUTION}

script:
  - docker-compose exec ${TARGET_DISTRIBUTION} ./test/run-test.sh

after_success:
